*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [6]:
def sum_of_list(numbers):
  total=0
  for num in numbers:
    total+=num
  return total
my_list = [8, 2, 3, 0, 7]
print("Sum of the list:", sum_of_list(my_list))

Sum of the list: 20

In [ ]:
def sum_of_list(numbers):
  total=1
  for num in numbers:
    total*=num
  return total
my list = [8, 2, 3, 0, 7]
    return sum(numbers)
sample_list = (8, 2, 3, 0, 7)
print("Sum of the list:", sum_of_list(sample_list))

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [7]:
def mul_list(numbers):
  total = 1
  for num in numbers:
    total *= num
  return total

my_list = [8, 2, 3, -1, 7]
print(mul_list(my_list))

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [8]:
def reverse_string(s):
    return s[::-1]
my_string = "1234abcd"
print( reverse_string(my_string))

dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [15]:
def factorial(n):
    if n == 0:
        return 1
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
number = 5
print(factorial(number))

120

5) Write a Python function to check whether a number falls within a given range.

In [16]:
def is_in_range(num, start, end):
    return start <= number <= end
number = 15
start_range = 10
print(is_in_range(5, 1, 10))
print(is_in_range(12, 1, 10))

False
False