1.Remove empty strings from the list1 of strings

list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

In [3]:
from types import resolve_bases
list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]
print(list1)
res = [name for name in list1 if name.strip()]
print(res)

['Mike', ' ', 'Emma', 'Kelly', ' ', 'Brad']
['Mike', 'Emma', 'Kelly', 'Brad']

2.Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

expected o/p ; [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [4]:
list = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1 = list[2][2]
list1.append(7000)
print(list1)

[5000, 6000, 7000]

3.You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:
[5, 10, 15, 200, 25, 50, 20]

In [7]:
list = [5, 10, 15, 20, 25, 50, 20]
index = list.index(20)
list[index] = 200
print(list)

[5, 10, 15, 200, 25, 50, 20]

4.Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [6]:
list = [5, 20, 15, 20, 25, 50, 20]
list = [num for num in list1 if num != 20]
print(filtered_list)

[5,15,25,50]

5.Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [8]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
lst = [ word1 + word2 for word1 in list1 for word2 in list2]
print(lst)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']