1.Are lists mutable or immutable, explain with an example

In [1]:
original_list = [1, 2, 3]
original_list[0] = 10
print(original_list)

[10, 2, 3]

2.Take any example of list on your own and perform atleast 5 list operations on that

In [2]:
my_list = [10, 20, 30, 40, 50]
my_list.append(60)
my_list.remove(20)
my_list.insert(1, 25)
my_list.sort()
length_of_list = len(my_list)
print(length_of_list)

6

3.Create a new list containing only the even numbers from the original list.

original list ;[1,2,2,4,5,6,7,12,3,456,78,67,89,90]

In [3]:
original_list = [1, 2, 2, 4, 5, 6, 7, 12, 3, 456, 78, 67, 89, 90]
even_numbers = [num for num in original_list if num % 2 == 0]
print(even_numbers)

[2, 2, 4, 6, 12, 456, 78, 90]

4.Create a new list with the squares of each element in the original list.

original list : [3,5,6,8,2,45]

In [4]:
original_list = [3, 5, 6, 8, 2, 45]
squared_numbers = [num ** 2 for num in original_list]
print(squared_numbers)

[9, 25, 36, 64, 4, 2025]

5.Check if all elements in the list are positive and return all the positive elements in a new list.

input ; [12,23,4,56,77,-89,7,90,90,-87,-99]

In [5]:
input_list = [12, 23, 4, 56, 77, -89, 7, 90, 90, -87, -99]
positive_numbers = [num for num in input_list if num > 0]
print(positive_numbers)  # Output: [12, 23, 4, 56, 77, 7, 90, 90]

[12, 23, 4, 56, 77, 7, 90, 90]