1.Are lists mutable or immutable, explain with an example

In [1]:
list1 = [1, 2, 3]
print(list1)
list1[1] = 5
print(list1)
list1.append(8)
print(list1)
list1.pop(0)
print(list1)

[1, 2, 3]
[1, 5, 3]
[1, 5, 3, 8]
[5, 3, 8]

2.Take any example of list on your own and perform atleast 5 list operations on that

In [2]:
list = [1, 31, 6, 8, 9]
print(list)
list.insert(2, 7)
print(list)
list.remove(8)
print(list)
list.reverse()
print(list)
list.clear()
print(list)

[1, 31, 6, 8, 9]
[1, 31, 7, 6, 8, 9]
[1, 31, 7, 6, 9]
[9, 6, 7, 31, 1]
[]

3.Create a new list containing only the even numbers from the original list.

original list ;[1,2,2,4,5,6,7,12,3,456,78,67,89,90]

In [5]:
list = [1, 2, 2, 4, 5, 6, 7, 12, 3, 456, 78, 67, 89, 90]
list1 = [number for number in list if number%2 == 0]
print(list1)

[2, 2, 4, 6, 12, 456, 78, 90]

4.Create a new list with the squares of each element in the original list.

original list : [3,5,6,8,2,45]

In [6]:
list = [3, 5, 6, 8, 2, 45]
list1=[num ** 2 for num in list]
print(list1)

[9, 25, 36, 64, 4, 2025]

5.Check if all elements in the list are positive and return all the positive elements in a new list.

input ; [12,23,4,56,77,-89,7,90,90,-87,-99]

In [8]:
list = [12, 23, 4, 56, 77, -89, 7, 90, 90, -87, -99]
list1 = [num for num in list if num > 0]
print(list1)

[12, 23, 4, 56, 77, 7, 90, 90]